<dialog id="html-dialog" class="position-fixed fixed-top">
    <span>Form contains invalid characters. Please remove all invalid characters and try again.</span>
    <button id="html-close" class="btn btn-yellow">Ok</button>
</dialog>