<link href="/toast.css" rel="stylesheet" type="text/css">

<div class="toast-container p-3 bottom-0 start-0" id="">
    <div class="toast" id="toast">
      <div class="toast-header">
        <div class="toast-img-container">
            <img src="/temp-me-img.png" class="rounded me-2" alt="">
        </div>
        <h5 class="toast-welcome"><span>Welcome!</span><span>I'm Nick Haus</span></h5>
        <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Are you a prospective employer or developer? Click the 'about' tab in the menu above to learn more about this webpage and how I created it. 
      </div>
    </div>
  </div>

  <script  type="text/javascript" src="toast.js">

  </script>