<link href="/toast.css" rel="stylesheet" type="text/css">

<div class="toast-container p-3 bottom-0 start-0" id="">
    <div class="toast" id="toast">
      <div class="toast-header">
        <div class="toast-img-container">
            <img src="/headshot.png" class="rounded me-2" alt="">
        </div>
        <h5 class="toast-welcome"><span>Welcome!</span><span>I'm Nick Haus</span></h5>
        <button type="button" class="btn-close" id="btn-close" data-bs-dismiss="toast" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>
      </div>
      <div class="toast-body">
        Are you a prospective employer or fellow web developer? Click the 'about' tab in the menu above to learn more about this webpage and how I created it. 
      </div>
    </div>
  </div>

  <script  type="text/javascript" src="toast.js">

  </script>