#map {
    height: 500px;
    max-height: 50vh;
}

.navbar-collapse {
    background-color: black;
}

/* Overall layout */
.campground-section {
    margin-top: 70px;
    display: grid;
    grid-template-areas: 
        "search map"
        "search all"
    ;
    gap: 10px;
    grid-template-columns: var(--search-width) 1fr;
    grid-template-rows: minmax(100px, 40vh) 1fr;
    min-height: 100vh;
    width: 100%;
}

.campground-search-container {
    position: fixed;
    top: 70px;
    bottom: 0;
    width: var(--search-width);
    overflow-y: scroll;
    grid-area: search;
    background-color: black;
    width: var(--search-width)
}

.campground-map-container {
    grid-area: map;
    overflow: hidden;
    min-width: var(--map-width);
    max-width: 100vw;
}

.campground-all-container {
    grid-area: all;
    min-height: 100%;
}


/* Search filters form */

.search-title {
    font-size: 1.3rem;
    color: white;
    background-color: var(--yc-dark-grey-3);
    padding: 5px;
    border-radius: 4px;
    text-align: center;
}

.search-title svg {
    color: var(--yc-main-yellow);
    margin: 0 2px 2px 2px;
}

.campground-filter-btn-container {
    display: none;
}

.search-main-label {
    color: var(--yc-lt-grey-1);
    font-size: 1.1rem;
}

.search-form-text {
    color: var(--yc-lt-grey-2);
    font-size: 0.9rem;
}

.search-miles-select {
    width: 100%;
}

.form-control, .form-select {
    background-color: var(--yc-dark-grey-1);
    color: white;
    border-color: var(--yc-lt-grey-1);
}

.form-control:focus {
    color: white;
    background-color: var(--yc-dark-grey-3);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 4px rgba(13, 110, 253, .25);
}

.form-control::placeholder {
    color: var(--yc-lt-grey-3);
}

.form-control:disabled, .form-select:disabled {
    background-color: var(--yc-dark-grey-3);
    color: var(--yc-dark-grey-2);
    opacity: 1;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--yc-dark-grey-1) inset !important;
    -webkit-text-fill-color: white;

}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--yc-dark-grey-1) inset !important;
    -webkit-text-fill-color: white;
}


/* Cmapgrounds found info and pages */

.campground-found-info {
    color: var(--yc-lt-grey-2);
}

.page-links {
    max-width: 100vw;
    flex-wrap: wrap;
}

.page-links a {
    color: var(--yc-lt-grey-1) !important;
}

.page-label {
    color: var(--yc-lt-grey-1) !important;
}

.page-link {
    cursor: pointer;
}

.page-link:hover {
    transform: scale(1.2);
}

.page-link:active {
    color: var(--yc-dark-grey-3) !important;
}

.page-link.visited {
    color: var(--yc-lt-grey-3) !important;
}

.page-link.current-page {
    color: var(--yc-main-yellow) !important;
    text-decoration: underline;
}

/* Campgrounds cards */

.card {
    border: none !important;
    border-radius: 0.25rem !important;
    background-color: var(--yc-dark-grey-3);
    color: var(--yc-lt-grey-1);
    height: 100%;
    box-shadow: 0 1px 5px var(--yc-dark-grey-1);
}

.card-img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 200;
}

.card .text-yc-muted {
    color: var(--yc-ts-grey-2)
}

/* Media queries */

@media screen and (max-width: 930px) {

    /* Layouts */
    .campground-section {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
        margin-top: 70px;
    }
    .campground-search-container {
        left: 0;
        top: 70px;
        left: calc(-1 * (var(--search-width)));
        background-color: black;
        z-index: 1;
        padding-top: 40px;

    }
    .campground-map-container {
        padding-top: 40px;
    }

    .campground-filter-btn-container {
        position: fixed;
        top: 80px;
        left: 0;
        display: block;
        z-index: 2; 
        width: 100px;
        height: 40px;
        overflow: hidden;
    }

    .search-btn-slider {
        width: 200%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .search-filter-btn, .search-filter-close {
        box-sizing: border-box;
        width: 48%;
        height: 100%;
        margin: 0;
    }

/* Map */

    canvas {
        height: 470px;
        width: 554px;
    }

    /* Search button animations */

    .open {
        animation: opening 0.75s ease forwards;
    }

    @keyframes opening {
        from {
            left: calc(-1 *(var(--search-width)));
        }
        to {
            left: 0;
        }
    }

    .close {
        animation: closing 0.75s ease forwards;
    }

    @keyframes closing {
        from {
            left: 0;
        }

        to {
            left: calc(-1 *(var(--search-width)));
        }
    }
}