.new-section, .edit-section {
    padding: 80px 20px;
    max-width: 500px;
    color: white;
    min-height: calc(100vh - 40px);
    overflow-x: hidden;
}

.new-section .btn, .edit-section .btn {
    margin: 3px;
}

.edit-section img {
    width: 150px;
    aspect-ratio: 4/3;
    object-fit: cover;
}