.show-section {
    height: fit-content;
    margin-top: 80px;
}

.show-card, .map {
    max-height: calc(100vh - 100px);
    min-height: 300px;
}

.show-card, .review-card {
    padding: 0;
    background-color: var(--yc-dark-grey-3);
        color: var(--yc-lt-grey-1);
        box-shadow: 0 1px 5px var(--yc-dark-grey-1);
}

.carousel, .carousel-inner, .carousel-item {
    height: 100%;
}

.show-card img {
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.card-title {
    font-size: 1.75rem;
    font-weight: 200;
}

.card-title.card-title-sm {
    font-size: 1.25em;
    font-weight: 400;
}

.text-yc-muted {
    color: var(--yc-ts-grey-2)
}

.show-review-section{
    color: var(--yc-lt-grey-1);
}

.show-star-container {
    display: flex;
    direction: row;
    align-items: center;
}

.show-review-section h3 {
    font-size: 1.75rem;
    font-weight: 200;
    /* color: var(--yc-main-yellow) */
}

.starability-grow, .starability-result {
    transform: scale(0.8);
}

@media screen and (max-width: 768px) {
    .show-card img {
        max-height: 300px;
    }
    .show-card {
        max-height: none;
    }
}

@media screen and (max-width: 576px) {
.starability-grow,
    .starability-result {
        transform: scale(0.55) translateX(-30px);
    }
}