.toast:not(.show) {
    display: block;
}

.toast {
    animation: toastIn 0.5s 1s ease-in-out forwards;
    transform: translateY(150%);
    border-radius: 5px;
    background-color: var(--yc-ts-grey-3);
}

.toast-header {
    background-color: transparent;
    color: white;
    border-radius: 5px 5px 0 0;
    align-items: start;
    justify-content: space-around;
    border: none;
    border-bottom: none;
    padding: 10px 0 0 0;
}

.toast-img-container {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--yc-lt-yellow-1);
    overflow: hidden;
    background-color: var(--yc-lt-grey-3);
}

.toast-img-container img {
    object-fit: contain;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.toast-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--yc-lt-grey-1);
    padding: 0 30px 10px 30px;
}

.toast-welcome span:nth-of-type(2) {
    font-weight: 600;
    color: var(--yc-lt-yellow-1);
}

.toast-body {
    background-color: transparent;
    color: var(--yc-lt-grey-1);
    border-radius: 0 0 5px 5px;
    padding: 5px 10px 10px 10px;
}

.toast-header .btn-close {
    color: var(--yc-lt-grey-1) !important;
    margin: 0 !important;
    opacity: 1 !important;
}

@keyframes toastIn {
   from {
    transform: translateY(150%);
   }
   to {
    transform: translateY(0%);
   }
}

