<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/form-validation.css">
<link rel="stylesheet" href="/login.css">

<section class="d-flex flex-column align-items-center justify-content-center login-section">
  <div class="login-img-container"></div>
  <div class="login-container">
      <h1>Register</h1>
      <form id="reg-form" class="reg-form form-control needs-validation" action="/login/register" method="POST" novalidate>
        <div class="form-group mb-3">
          <label for="email">Email: </label>
          <input class="login-input" autocomplete="off" id="reg-email" type="email" name="email" />
          <div id="valid-email" class="valid-text">
                  Looks good!
              </div>
              <div id="invalid-email" class="invalid-text">
                  Email must be a valid email address.
              </div>
        </div>

        <div class="form-group mb-3">
          <label for="username">Username: </label>
          <input class="login-input" autocomplete="off" id="reg-username" type="text" name="username" minlength="4" maxlength="30"/>
          <div id="valid-username" class="valid-text">
                  Looks good!
              </div>
              <div id="invalid-username" class="invalid-text">
                  Username must be between 4-30 characters with no spaces or special characters.
              </div>
        </div>

        <div class="form-group mb-3">
          <label for="password">Password: </label>
          <input class="login-input" autocomplete="off" id="reg-password" type="password" name="password" minlength="8" maxlength="30"/>
            <div id="valid-password" class="valid-text">
                  Looks good!
              </div>
              <div id="invalid-password" class="invalid-text">
                  Password must be between 8-30 characters and contain at least one uppercase letter, one lowerase letter, and one number or special character.
              </div>
        </div>

        <div class="form-group mb-3">
          <label for="trusted"><small>Remember my password.</small></label>
          <input class="login-input" autocomplete="off" type="checkbox" name="trusted" />
          <p><small>(Only check this box if this is a trusted device!)</small></p>
        </div>
        <button id="reg-form-btn" class="btn btn-yellow mb-3" type="button" disabled>Register</button>
        <a href="/home"
          ><button type="button" class="btn btn-yc-dark d-block mb-3">
            Home
          </button></a
        >
    </form>
  </div>

<%- include('../partials/loading-dialog.ejs') %>
<%- include('../partials/html-dialog.ejs') %>
</section>
<script type="module" src="/valid.js"></script>
<script type="module" src="/register-validation.js"></script>
<script type="module" src="/login-validation.js"></script>
