<% layout('/layouts/boilerplate') -%>

<section class="home-sec">
    <div class="home-info">
            <h1 class="logo-text home-logo" tabindex="0">Welcome to YelpCamp</h1>
            <p tabindex="0">A place for campers to find campgrounds, anywhere in the United States.</p>
            <a href="/campgrounds" class="home-button">Let's Camp!</a>
    </div>
    <div class="home-imgs">
        <div class="home-img-container initial-img">
            <div class="home-img"></div>
            <div class="home-img-credit">
                Photo by <a href="https://unsplash.com/@andreilazar9?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Andrei Lazar</a> on <a href="https://unsplash.com/photos/a-tent-pitched-up-on-a-hill-under-a-night-sky-with-stars-XJXxeU5y1gk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Unsplash</a>
            </div>
        </div>
        <div class="home-img-container">
            <div class="home-img"></div>
            <div class="home-img-credit">
                Photo by <a href="https://unsplash.com/@cschog?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Chris Schog</a> on <a href="https://unsplash.com/photos/camping-tent-in-forest-during-night-EnCaUE4QNOw?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Unsplash</a>
            </div>
        </div>
        <div class="home-img-container">
            <div class="home-img"></div>
            <div class="home-img-credit">
                Photo by <a href="https://unsplash.com/@vingtcent?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Vincent Guth</a> on <a href="https://unsplash.com/photos/person-in-front-of-bon-fire-during-night-UhGZ-k6EB_g?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Unsplash</a>
            </div>
        </div>
        <div class="home-img-container">
            <div class="home-img"></div>
            <div class="home-img-credit">
                Photo by <a href="https://unsplash.com/@iamthedave?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Dave Hoefler</a> on <a href="https://unsplash.com/photos/a-tent-set-up-in-the-woods-at-sunset-a3e7yEtQxJs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" tabindex="-1">Unsplash</a>
            </div>
        </div>
    </div>

    <%- include('../partials/toast.ejs') %>
</seciton>

<script type="text/javascript" src="home.js"></script>


  