/* STYLES REFERENCE: https: //i.pinimg.com/originals/33/bd/ca/33bdca39e87051ba3e48b42e7e886a9d.png */

:root {
    /* Main Theme colors */
    --yc-main-yellow: #e5c002;
    --yc-lt-yellow-1: hsl(50, 98%, 75%);
    --yc-dark-yellow-1: hsl(50, 98%, 25%);

    /* Light colors */
    --yc-lt-grey-1: #d6d6d7;
    --yc-lt-grey-2: #a5a5a4;
    --yc-lt-grey-3: #959594;

    --yc-ts-grey-1:#FCFCFD66;
    --yc-ts-grey-2:#eCeCFc55;
    --yc-ts-grey-3:#181f25aa;
    

    /* Dark colors */
    --yc-dark-grey-1: #091010;
    --yc-dark-grey-2: #181f25;
    --yc-dark-grey-3: #29333d;

    /* Reused Sizes */
    --search-width: 280px;
    --map-width: 630px;
    --map-search-width: calc(var(var(--map-width) + var(var(--search-width))));

    /* box-shadow */
    --popup-box-shadow: 1px -1px 2px inset var(--yc-lt-grey-1),
        -1px 1px 2px inset var(--yc-lt-grey-1);

}

.btn-yc-dark.btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--yc-dark-grey-1);
    --bs-btn-border-color: var(--yc-dark-grey-2);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--yc-dark-grey-2);
    --bs-btn-hover-border-color: var(--yc-dark-grey-3);
    --bs-btn-focus-shadow-rgb: 66, 70, 73;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #4d5154;
    --bs-btn-active-border-color: var(--yc-dark-grey-3);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--yc-dark-grey-1);
    --bs-btn-disabled-border-color: var(--yc-dark-grey-1);
}

.btn.btn-outline-yellow {
    --bs-btn-color: var(--yc-main-yellow);
    --bs-btn-border-color: var(--yc-main-yellow);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--yc-main-yellow);
    --bs-btn-hover-border-color: var(--yc-main-yellow);
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--yc-main-yellow);
    --bs-btn-active-border-color: var(--yc-main-yellow);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--yc-main-yellow);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--yc-main-yellow);
    --bs-gradient: none;
}


/* Overall */
html,
body {
    height: 100%;
    font-size: 16px;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    background-color: var(--yc-dark-grey-2);
}

section,
main {
    background-color: var(--yc-dark-grey-2);
}

.hidden {
    display: none !important;
}

/* Buttons */

.btn-outline-yellow:hover {
    color: var(--yc-dark-grey-2) !important;
    background-color: var(--yc-main-yellow);
    border-color: var(--yc-lt-yellow-1);
}

.btn-yellow.btn {
    background-color: var(--yc-main-yellow);
    color: black;
}

.btn-yellow.btn[disabled] {
    background-color: var(--yc-dark-yellow-1);
}

.btn-yellow.btn:hover {
    color: var(--yc-dark-grey-3) !important;
    background-color: var(--yc-lt-yellow-1) !important;
    border-color: var(--yc-ts-grey-1);
    box-shadow: 0 0 3px white;
}

.btn-yellow.btn:active {
    background-color: var(--yc-dark-yellow-1) !important;
}

.btn-close {
    --bs-btn-close-bg: none !important;
}


/* Validation */
.valid-text, .invalid-text {
    font-size: 0.8rem;
    margin: 5px 0px;
}

.valid-text {
    color: green;
}

.invalid-text {
    color: red;
}

/* Main and Nav */
main {
    padding: 0;
    margin: 0;
}

.logo-text {
    font-family: 'Kalam', sans-serif;
}

nav {
    z-index: 10;
    height: 70px;
    background: black;
    align-items: start !important;
}

.nav-logo {
    height: 40px;
    width: 40px;
}

.nav-logo-text {
    font-size: 1.5rem;
}

.dropdown {
    z-index: 10;
    padding-bottom: 25px;
    margin: 0;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.dropdown>*:not(.show, .collapsing) {
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-collapse {
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 90%, rgba(0, 0, 0, 0) 100%);
}

.collapsing .show {
    margin-top: 5px;
}

.collapsing ul, .show ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.collapse-spacer {
    margin-bottom: 25px;
    height: 0px;
    width: 0px;
}

footer {
    background-color: black;
    z-index: 1;
}

footer p {
    color: #ffffff99;
}

/* inputs */

.form-control,
.form-select {
    background-color: var(--yc-dark-grey-1) !important;
    color: white !important;
    border-color: var(--yc-lt-grey-1) !important;
}

.form-control:focus {
    color: white !important;
    background-color: var(--yc-dark-grey-3) !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 4px rgba(13, 110, 253, .25) !important;
}

.form-control::placeholder {
    color: var(--yc-lt-grey-3) !important;
}

.form-control:disabled,
.form-select:disabled {
    background-color: var(--yc-dark-grey-3) !important;
    color: var(--yc-dark-grey-2) !important;
    opacity: 1 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--yc-dark-grey-1) inset !important;
    -webkit-text-fill-color: white !important;

}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px var(--yc-dark-grey-1) inset !important;
    -webkit-text-fill-color: white !important;
}

/* Alerts */


.alert {
    top: 80px !important;
    --bs-alert-bg: transparent;
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: var(--bs-border-width) solid var(--bs-alert-border-color);
    --bs-alert-border-radius: var(--bs-border-radius);
    --bs-alert-link-color: inherit;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    background-color: var(--yc-dark-grey-1) !important;
    color: white !important;
    box-shadow: var(--popup-box-shadow)
    ;
    border-radius: var(--bs-alert-border-radius);
    z-index: 10;
}

.alert-yc-success svg {
    fill: green;
}

.alert-yc-danger svg {
    fill: red;
}

.alert div {
    margin: 5px;
}

.alert button {
    background: transparent;
    border: none;
}

.alert button svg {
    fill: white;
}

dialog {
    top: 80px !important;
    background-color: var(--yc-dark-grey-1) !important;
    color: white !important;
    box-shadow: var(--popup-box-shadow);
    border-radius: 5px;
    width: fit-content;
    border: none;
    max-width: 80%;
    z-index: 10;
}