<% layout('/layouts/boilerplate') -%>
<section class="error-section">
    <div class="'row">
        <div class="col-6 offset-3">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><%= status %></h4>
                <p><%= message %></p>
                <hr>
                <a class='btn btn-yc-dark' href="/home">Return Home</a>
            </div>
        </div>
    </div>
</section>