<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" type="text/css" href="/about.css"/>

<section class="about-section container-md">
    <div class="about-container">
        <article class="about-info">
            <h1>About This Webpage</h1>
            <section>
                <p>Welcome to this website! YelpCamp is a site I created along with the <a href='https://www.udemy.com/course/the-web-developer-bootcamp/' target="_blank">Web Developer Boot Camp 2023 course by Colt Steele</a> on Udemy. This course is an up-to-date Full-stack web developer course which covers a wide range of technologies used in modern-day web applications. Along with the technologies learned in this course, I added many of my own features to this site which display my knowledge and ability to learn web-development concepts and best practices independently.</p>
                <p>This site contains only fictional campgrounds, but it should give the feel of a real campground review platform. Feel free to explore the site by searching for campgrounds, registering for an account, logging in, and even creating or reviewing campgrounds of your own! I would only ask that you please keep any additions you make kind and professional as this site is meant for educational and professional purposes, and I will receive an email after any change is made to the site.</p>
                <p>Contact me at <span class="my-email">njhaus@gmail.com</span> with any comments, questions, or employment opportunities!</p>
            </section>
            <section>
                <h2>Features and Technologies</h2>
                <h4>Features and technologies used with the course:</h4>
                <ul>
                    <li>HTML, CSS, and Javascript</li>
                    <li>Node.js</li>
                    <li>Node Package Manager (NPM)</li>
                    <li>Express</li>
                    <li>Express Router</li>
                    <li>Express Middleware</li>
                    <li>Cookies</li>
                    <li>Sessions</li>
                    <li>Authentication with Passport</li>
                    <li>MongoDB</li>
                    <li>Mongo Atlas</li>
                    <li>Mongoose</li>
                    <li>Express</li>
                    <li>ejs</li>
                    <li>Javascript DOM Manipulation</li>
                    <li>Bootstrap</li>
                    <li>Image management with Cloudinary</li>
                    <li>Environment Variables</li>
                    <li>Geolocation and Reverse Geocoding</li>
                    <li>HTML Sanitization and Web Security</li>
                    <li>CRUD Operations</li>
                    <li>Maps with MapLibre</li>
                    <li>Git and Github</li>
                    <li>Web Deployment</li>
                </ul>
                <h4>Features and technologies added on my own:</h4>
                <ul>
                    <li>Custom Form Validation</li>
                    <li>Campground search with search filters</li>
                    <li>Map Zoom functionality</li>
                    <li>Edited Maplibre library to replace innerHTML code with web-safe options</li>
                    <li>Custom CSS Styling</li>
                    <li>CSS Animations</li>
                    <li>Accessibility</li>
                    <li>Toasts, Modals, and Dialogs</li>
                    <li>Mobile-friendly layout and functionality</li>
                </ul>
            </section>
        </article>
        <article class="about-resume">
            <div class="card">
                <div class="resume-header">
                    <div class="resume-img-container">
                        <img src="/headshot.png" class="rounded me-2" alt="">
                    </div>
                    <h5 class="resume-welcome"><span>Welcome!</span><span>I'm Nick Haus</span></h5>
                </div>
                <div class="resume-body">
                    <p>I am a full-stack web developer with a passion for creating beautiful, dynamic, and accessible web applications. See my <a href="/" target="_blank">resume</a> or <a href="/" target="_blank">online portfolio</a> to learn more about my skills and qualifications and to see more of my work!</p>
                </div>
            </div>
        </article>
    </div>
</section>